{% extends "layout.html" %}
{% block body %}
  <h2>{{ text }}</h2>
  {% if session.username %}
    <form action="/handle_password_change" method="POST" class="vertical">
      <label for="username_for_show">{{ username }}</label>
      <input type="text" name="username_for_show" id="username_for_show" value="{{ session.username }}" disabled><br/>
      <input type="hidden" name="username" id="username" value="{{ session.username }}">
      <label for="password">{{ password }}</label>
      <input type="password" name="password" id="password"><br/>
      <label for="new_password">{{ new_password }}</label>
      <input type="password" name="new_password" id="new_password"><br/>
      <label for="new_password_repeat">{{ repeat_new_password }}</label>
      <input type="password" name="new_password_repeat" id="new_password_repeat"><br/>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value={{submit}}>
    </form>
  {% endif %}
{% endblock %}