body {
  margin: auto;
  max-width: 45em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: lightgray;
}

h1 {
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
}

h1::after {
    background: linear-gradient(to right, darkgreen 25%,purple 75%);  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    width: 100%;
 }


form, input, select {
  background-color: transparent;
  margin: 0.5rem;
}
input:focus, select:focus {
  outline: 0.1rem solid rgb(213, 58, 1);
}

nav a {
  display: inline-block;
  padding: 0 0.75rem;
  color: darkgreen;
}
nav a:hover {
  outline: 0.1rem solid purple;
}

div a {
  display: inline-block;
  padding: 0 0.75rem;
  color: purple;
}
div a:hover {
  outline: 0.1rem solid darkgreen;
}

tr th,tr td {
  padding: 0.2rem 0.5rem
}

td a {
  color: rgb(213, 58, 1);
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}