{% extends "management.html" %}
{% block section %}
  <h2>{{ local.current_mode }}</h2>
  {% if session.username %}
    <details><summary><strong>{{ local.add_new }}</strong></summary>
        {% if session.retry_form_values %}
            <form action="/handle_chat_adding" method="POST" class="vertical">
                <label for="cname">{{ local.chat_name }}</label>
                <input name="cname" id="cname" type="text" required value="{{session.retry_form_values.cname}}"></br>
                <label for="topic">{{ local.topic }}</label>
                <input name="topic" id="topic" list="topic_list" required>
                <datalist id="topic_list">
                    {% for value,label in topic_options %}
                        {% if value == session.retry_form_values.topic %}
                            <option value="{{ value }}" selected>{{ label }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endif %}
                    {% endfor %}
                </datalist></br>
                <label for="group">{{ local.group }}</label>
                <select name="group" id="group" required>
                    {% for value,label,restriction in group_options %}
                        {% if value == session.retry_form_values.group %}
                            <option value="{{ value }}" selected>{{ label }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endif %}
                    {% endfor %}
                </select></br>
                <label for="link">{{ local.link }}</label>
                <input name="link" id="link" type="text" required value="{{session.retry_form_values.link}}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="{{ local.submit }}">
            </form>
        {% else %}
            <form action="/handle_chat_adding" method="POST" class="vertical">
                <label for="cname">{{ local.chat_name }}</label>
                <input name="cname" id="cname" type="text" required></br>
                <label for="topic">{{ local.topic }}</label>
                <input name="topic" id="topic" list="topic_list" required>
                <datalist id="topic_list">
                    {% for value,label in topic_options %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </datalist></br>
                <label for="group">{{ local.group }}</label>
                <select name="group" id="group" required>
                    {% for value,label,restriction in group_options %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select></br>
                <label for="link">{{ local.link }}</label>
                <input name="link" id="link" type="text" required>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="{{ local.submit }}">
            </form>
        {% endif %}
    </details>
  {% endif %}
  <h3>{{ local.listing }}</h3>
  {% include "chat_list.html" %}
{% endblock %}