{% block body %}
  <table>
  <tr>
  {% if management == "True" %}
    <tr>
      <th>{{ local.chat_fields.id }}</th>
      <th>{{ local.chat_fields.name }}</th>
      <th>{{ local.chat_fields.topic }}</th>
      <th>{{ local.chat_fields.group }}</th>
      <th>{{ local.chat_fields.link }}</th>
      <th>{{ local.chat_fields.moderator }}</th>
      <th>{{ local.chat_fields.restriction }}</th>
      <th>{{ local.chat_fields.edit }}</th>
    </tr>
  {% else %}
    <tr>  
      <th>{{ local.chat_fields.name }}</th>
      <th>{{ local.chat_fields.topic }}</th>
      <th>{{ local.chat_fields.link }}</th>
      {% if session.username %}<th>{{ local.chat_fields.moderator }}</th>{% endif %}
    </tr>
  {% endif %}
  </tr>
  {% for id,name,link,topic,group,restriction,moderator,dm in showable %}
    {% include "chat.html" %}
  {% endfor %}
  </table>
{% endblock %}