{% block body %}
{% if management == "True" %}
  <tr>
    <td>{{ id }}</td>
    <td>{{ name }}</td>
    <td>{{ topic }}</td>
    <td>{{ group }}</td>
    {% if (restriction != "AGE" or restriction != "SEC") or moderator == session.username  or session.user_status == "ADMIN" %}
        <td><a href="{{ link }}">Liity</a></td>
    {% else %}
        <td>ei saatavilla</td>
    {% endif %}
    <td><a href="{{dm}}">{{ moderator }}</a></td>
    <td>{{ restriction }}</td>
    {% if (session.username and session.user_status == "ADMIN") or moderator == session.username %}
        <td><a href="/management/chats/{{id}}">Muokkaa</a></td>
    {% endif %}
  </tr>
{% else %}
  <tr>
    <td>{{ name }}</td>
    <td>{{ topic }}</td>
    {% if (restriction != "AGE" or restriction != "SEC") or moderator == session.username  or session.user_status == "ADMIN" %}
        <td><a href="{{ link }}">Liity</a></td>
    {% else %}
        <td>ei saatavilla</td>
    {% endif %}
    {% if session.username %}<td><a href="{{dm}}">{{ moderator }}</a></td>{% endif %}
  </tr>
{% endif %}
{% endblock %}