<!doctype html>
<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='categories.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<meta
  name="description"
  content="{{ app_name }} - manage your chat link collection"
/>
<link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
<title>{{ app_name }}</title>
<h1>{{ app_name }}</h1>
<nav>
  <a href="/">Etusivu</a>
  {% if not session.username %}
    <a href="/login">Kirjautuminen</a>
    <a href="/register">Rekisteröityminen</a>
  {% endif %}
  {% if session.username %}
    <a href="/management">Hallinta</a>
  {% endif %}
  <a href="/statistics">Statistiikka</a>
  {% if session.username %}
    <a href="/password">Salasanan vaihto</a>
    <a href="/logout">Kirjaudu ulos</a>
  {% endif %}
</nav>
{% with messages = get_flashed_messages(with_categories = True) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}