{% extends "layout.html" %}
{% block body %}
  <h2>{{ local.text }}</h2>
  {% if session.username %}
    <div>
      {% if session.username and session.user_status == "ADMIN" %}
        <a href="/management/groups">{{ local.groups }}</a>
      {% endif %}
      <a href="/management/chats">{{ local.chats }}</a>
      {% if session.username and session.user_status == "ADMIN" %}
        <a href="/management/users">{{ local.users }}</a>
      {% endif %}
    </div>
  {% endif %}
  {% block section %}{% endblock %}
{% endblock %}