{% extends "layout.html" %}
{% block body %}
  <h2>{{ local.text }}</h2>
  <h3>{{ local.tip_header }}</h3>
  <ul>
    <li>{{ local.tip_password }}</li>
    <li>{{ local.tip_characters }}</li>
    <li>{{ local.tip_letters }}</li>
    <li>{{ local.tip_numbers }}</li>
    <li>{{ local.tip_special }}</li>
  </ul>
  <form action="/handle_password_set" method="POST" class="vertical">
    <input type="hidden" name="username" id="username" value="{{ session.reset_for }}">
    <label for="new_password">{{ local.new_pw1 }}</label>
    <input type="password" name="new_password" id="new_password" placeholder="{{ local.tip_pw }}" required><br/>
    <label for="new_password_repeat">{{ local.new_pw2 }}</label>
    <input type="password" name="new_password_repeat" id="new_password_repeat" placeholder="{{ local.tip_pw }}" required><br/>
    <input type="submit" value="{{ local.submit}}">
  </form>
{% endblock %}