{% extends "layout.html" %}
{% block body %}
  <h2>{{ locals.text }}</h2>
  <h3>{{ locals.tip_header }}</h3>
  <ul>
    <li>{{ locals.tip_username }}</li>
    <li>{{ locals.tip_password }}</li>
    <li>{{ locals.tip_characters }}:</li>
    <li>{{ locals.tip_letters }}</li>
    <li>{{ locals.tip_numbers }}</li>
    <li>{{ locals.tip_forbidden }}</li>
  </ul>
  <form action="/handle_registration" method="POST" class="vertical">
    <label for="new_username">{{ locals.username }}</label>
    <input type="text" name="new_username" id="new_username" required placeholder="{{locals.tip_uname}}"><br/>
    <label for="new_password">{{ locals.password }}</label>
    <input type="password" name="new_password" id="new_password" required placeholder="{{locals.tip_pw}}"><br/>
    <label for="new_password_repeat">{{ locals.repeat_password }}</label>
    <input type="password" name="new_password_repeat" id="new_password_repeat" required placeholder="{{locals.tip_pw}}"><br/>
    <label for="registration_code">{{ locals.registration_code }}</label>
    <input type="password" name="registration_code" id="registration_code" required><br/>
    <input type="submit" value={{locals.submit}}>
  </form>
{% endblock %}